@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.container {
    display: grid;
    /* grid template rows / columns */
    grid: 100px 1fr / repeat(4, 1fr);
    grid-template-areas: "hr hr hr hr hr hr" "back back back back back back" "bod bod bod bod bod bod" "ft ft ft ft ft ft";
    background-color: #f9f9fa;
}

.navbar {
    background-color: #02b3e4;
    grid-area: hr;
    font: 25px 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.content {
    grid-area: bod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-container {
    grid-area: bod;
    padding: 20px;
    margin: 20px;
    background-color: #f5fcfe;
    border: 3px solid #a4e4f5;
}

.post-image {
    background-image: url('../images/ar.jpg');
    background-size: cover;
    height: 250px;
    margin: 15px 0 15px 0;
    border-radius: 5px;
}

.back-link {
    grid-area: back;
    font: 700 14px 'Open Sans', sans-serif;
    margin-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
}

.back-link a {
    color: #014052;
}

.post-title {
    font: 600 32px 'Open Sans', sans-serif;
}

.post-meta {
    margin-top: 5px;
    font: 12px 'Open Sans', sans-serif;
    color: #014052;
}

.post-content p {
    font: 14px 'Open Sans', sans-serif;
    padding-top: 10px;
}

.quote {
    font: italic 600 14px 'Open Sans', sans-serif;
    color: #014052;
    background-color: #c8cdd2;
}

.social {
    display: flex;
    font: 600 14px 'Open Sans', sans-serif;
    align-items: center;
    margin-top: 50px;
}

.social-icons {
    margin-left: 10px;
}

img {
    width: 24px;
    height: 24px;
    margin: 2px;
}

.social a {
    text-decoration: none;
}

.post-related {
    font: 600 14px 'Open Sans', sans-serif;
    margin-top: 50px;
}

.post-related ul {
    color: #02b3e4;
}

.related-links {
    color: #014052;
    text-decoration: underline;
}

.footer {
    grid-area: ft;
    background-color: #02b3e4;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
}

@media(min-width: 900px) {
    .post-header {
        display: flex;
        flex-direction: row;
    }
    .post-details {
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #c8cdd2;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    .post-image {
        flex: 1;
    }

    .post-related {
        font: 600 14px 'Open Sans', sans-serif;
        margin-top: 10px;
    }

    .post-image { 
        height: 300px;
    }
}