@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("card/card-header.css");
@import url("card/card-body.css");
.container {
    display: grid;
    /* grid template rows / columns */
    grid: 100px 1fr / repeat(3, 1fr);
    grid-template-areas: "hr hr hr hr hr hr" "bod bod bod bod bod bod" "ft ft ft ft ft ft";
}

.navbar {
    background-color: #02b3e4;
    grid-area: hr;
    font: 25px 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    grid-area: bod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 3px solid #a4e4f5;
    height: 300px;
    width: 450px;
    margin: 20px;
    background-color: #f9f9fa;
}

.footer {
    grid-area: ft;
    background-color: #02b3e4;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
}

@media(min-width: 900px) {
    .content {
        grid-area: bod;
        display: grid;
        grid: repeat(3, 300px) / auto-flow 450px;
        gap: 50px;
        margin: 50px;
    }
}