

.card-header {
    height: 70%;
    border-bottom: 5px solid #657482;
}

#ar{
    background-image: url('../../images/ar.jpg');
    background-size: cover;
}

#au{
    background-image: url('../../images/au.jpg');
    background-size: cover;
}

#be{
    background-image: url('../../images/be.jpg');
    background-size: cover;
}

#br{
    background-image: url('../../images/br.jpg');
    background-size: cover;
}

#ch{
    background-image: url('../../images/ch.jpg');
    background-size: cover;
}

#cu{
    background-image: url('../../images/cu.jpg');
    background-size: cover;
}