.container {
    display: grid;
    /* grid template rows / columns */
    grid: 100px 1fr / repeat(4, 1fr);
    grid-template-areas: "hr hr hr hr hr hr" "back back back back back back" "bod bod bod bod bod bod" "ft ft ft ft ft ft";
    background-color: #f9f9fa;
}

.navbar {
    background-color: #02b3e4;
    grid-area: hr;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#navbar-heading {
    font: bold 25px sans-serif;
}

.content {
    grid-area: bod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-container {
    grid-area: bod;
    padding: 20px;
    margin: 20px;
    background-color: #f5fcfe;
    border: 3px solid #a4e4f5;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.post-image {
    width: 100%;
    margin: 15px 0 0 0;
    border-radius: 5px 5px 0 0;
}

.image-caption {
    background-color: #a4e4f5;
    ;
    margin-bottom: 5px;
    font: italic 14px sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.back-link {
    grid-area: back;
    font: 700 14px sans-serif;
    margin-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
}

.back-link-text {
    color: #014052;
}

.post-title {
    font: 600 32px sans-serif;
}

.post-meta {
    margin-top: 5px;
    font: 12px sans-serif;
    color: #014052;
}

.post-content-text {
    font: 14px sans-serif;
    padding-top: 10px;
}

.quote {
    font: italic 600 14px sans-serif;
    color: #014052;
    background-color: #c8cdd2;
    padding: 10px;
}

.social {
    display: flex;
    font: 600 14px sans-serif;
    align-items: center;
    margin-top: 50px;
}

.social-icons {
    margin-left: 10px;
}

.social-image {
    width: 24px;
    height: 24px;
    margin: 2px;
}

.social-text {
    text-decoration: none;
}

.post-related {
    font: 600 14px sans-serif;
    margin-top: 50px;
}

.post-related-list {
    color: #02b3e4;
}

.related-links {
    color: #014052;
    text-decoration: underline;
}

.footer {
    grid-area: ft;
    background-color: #02b3e4;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
}

@media(min-width: 900px) {
    .post-header {
        display: flex;
        flex-direction: row;
    }
    .post-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #a4e4f5;
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .image-container {
        flex: 1;
    }
    .post-related {
        font: 600 14px sans-serif;
        margin-top: 10px;
    }
    .post-image {
        height: 300px;
    }
}